<template>
    <div class="collections">
        <h1 class="h1">Collections</h1>
    <p class="p">Explore curated lists of top restaurants, cafes, pubs, and bars in Bengaluru, based on trends</p>

    
    <div class="col_inner" >

       <ColEle :address="add1"/>
       <ColEle :address="add2"/>
       <ColEle :address="add3"/>
       <ColEle :address="add4"/>

      
       

    </div>
    </div>
</template>

<script>
import ColEle from "../components/ColEle.vue"
export default {
    name:"Col",
    components:{
        ColEle
    },
    data(){
        return {
            add1:"https://b.zmtcdn.com/data/collections/e1d5e8f900dbca01d11f353ef4b6a97c_1581661395.jpg?output-format=webp",
            add2:"https://b.zmtcdn.com/data/collections/c392056cfd7c02befe8d53f94ad2a908_1581933619.jpg?output-format=webp",
            add3:"https://b.zmtcdn.com/data/collections/7f68fde319524e0d152ac8f01c89623c_1582286063.jpg?output-format=webp",
            add4:"https://b.zmtcdn.com/data/collections/d5fee6a5e24cda1629f810c3836dcb1f_1582106775.jpg?output-format=webp"
        }
    }
}
</script>

<style  scoped>
.col_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
    
.h1{
   
    font-weight: bold;
    font-size: 2rem;
    color: rgb(54, 54, 54);
    font-family: sans-serif;
}
.p{ 
    font-size: 1.3rem;
    color: rgb(54, 54, 54);
    font-family: sans-serif;
}

.collections{


    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 5rem;

}

</style>