<template>
     <div class="col_wrap" >
            <div class="col"> 
                <img class="col_img" :src="address" alt="">
                
                
            </div>
            
        </div>
</template>

<script>
export default {
    name:'ColEle',
    props :["address" ]
}
</script>

<style lang="stylus" scoped>
.col_wrap{

    cursor: pointer;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 300px;
    margin :0.5rem;
    height: 500px;
}
.col{
    overflow: hidden;
    width: 100%;
    height: auto;
}

</style>