<template>
    <div class="headr">
            <a href="" class="headr1">Login</a>
            <a href="" class="headr1">Signup</a>
        </div>
</template>

<script>
export default {
    name:'Header'
    
}
</script>

<style lang="stylus" scoped>
.headr{
    text-align: right;
    position: relative;
    top: 15px;
    right: 20px;
    width:100%;
   
}
.headr1{
    text-decoration: none;
    font-size: 1rem;
    text-align: right;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    font-family: Okra,Helvetica,sans-serif;
}
</style>