<template>
    <div>
        <div class="logo_container"></div>
        
        <div class="Tagline">
            {{tagLine}}
        </div>
    </div>
</template>
<script>
export default {
    name: 'LogoTag',
    data(){
        return {
            tagLine :"Discover the best food & drinks in Bengaluru"
        }
    }
}
</script>

<style lang="stylus" scoped>
    
.Tagline{
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: Okra,Helvetica,sans-serif;
}

.logo_container{
    margin-top: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
    background-image: url("../assets/logo.png");
    background-size: contain;
}
</style>