<template>
    <div class="services" >

        <OfoElement :address="add1" :message="mess1"/>
        <OfoElement :address="add2" :message="mess2"/>
        <OfoElement :address="add3" :message="mess3"/>
        <OfoElement :address="add4" :message="mess4"/>
    </div>

</template>

<script>
import OfoElement from '../components/OfoElement'
export default {
    name:"Ofo",
    components:{
        OfoElement
    },
    data(){
        return {
            add1:"https://b.zmtcdn.com/webFrontend/64dffaa58ffa55a377cdf42b6a690e721585809275.png?output-format=webp",
            mess1:"Order Food Online",
            add2:"https://b.zmtcdn.com/webFrontend/95f005332f5b9e71b9406828b63335331585809309.png?output-format=webp",
            mess2:"Go Out for a Meal",
            add3:"https://b.zmtcdn.com/webFrontend/824d0cc1a09db9fb802d53f7b3c5c3c51585809331.png?output-format=webp",
            mess3:"Nightlife & Clubs",
            add4:"https://b.zmtcdn.com/webFrontend/b256d0dd8a29f9e0623ecaaea910534d1585809352.png?output-format=webp",
            mess4:"Zomato Gold"
        }
    }

}
</script>


<style lang="stylus" scoped>
    .services{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        margin-top :12rem;
        margin-bottom: 3rem;
    }

    .ofo_text{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    
    color: rgb(54, 54, 54);
    font-family: sans-serif;
    }
    
    .ofo_img {
        object-fit :cover;
        align-self: center;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .ofo{
    overflow: hidden;
    width: 100%;
    height: 200px;
    
    }

    .ofo_wrap{
    margin :1rem;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 300px;
    height: 240px;
    
    }
</style>