<template >
    <div class="ofo_wrap" >
            <div class="ofo"> 
                <img class="ofo_img"  :src='address' alt="">
               
            </div>
            <p class="ofo_text">{{message}} </p>
        </div>
</template>

<script>

export default {
   
    name:'OfoElement',
    props : ["address","message"],
    methods :{
        tmp:function(){
            alert("hello")
        }
    }
    
}


</script>

<style lang="stylus" scoped>
    .ofo_text{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    
    color: rgb(54, 54, 54);
    font-family: sans-serif;
    }
    
    .ofo_img {
        object-fit :cover;
        align-self: center;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .ofo{
    overflow: hidden;
    width: 100%;
    height: 200px;
    
    }

    .ofo_wrap{
    margin :1rem;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 300px;
    height: 240px;
    
    }

</style>