<template>
    <div class ="searchBox" >
            <b-autocomplete
                style="width:15rem; border-style:none"
                ref="autocomplete"
                :data="cities"
                placeholder="City Name"
                size="is-large"
                @input="getCityList"
                v-model="cityName"
                @select="option => selected = option">
               
                <template slot="empty">No results for {{cityName}}</template>
            </b-autocomplete>

            <b-autocomplete
                ref="autocomplete"
                style="width:30rem"
                :data="restaurantList"
                placeholder="Enter Restaurant"
                size="is-large"
                @input="getRestaurant"
                v-model="restaurantQuery"
                @select="option => selectedRes = option">
               
                <template slot="empty">No results for {{restaurantQuery}}</template>
            </b-autocomplete>
        </div>
</template>

<script>

import axios from 'axios'

export default {
    name: "SearchBar",
    data(){
        return {
            obb:{},
            restaurantQuery:"",
            cities:[],
            restaurantList:[],
            selected:null,
            selectedRes:null,
            map:{},
            cityName:'',
            apiUrl:"https://developers.zomato.com/api/v2.1/cities?q=",
            apiUrl2:"https://developers.zomato.com/api/v2.1/search?entity_id=",
            suffix:"entity_type=city&q="

        }
    },
    mounted () {
   
  },
  
    methods:{
        
        getRestaurant(){
            this.restaurantList=[]
            this.datas=[]
            axios.get(this.apiUrl2+this.map[this.selected]+this.suffix+this.restaurantQuery,{headers:{"user-key":"27955066901f7a0c850fde574b52e2ba"}}).then( response => {
            
          
                    var obj=response
                    var ress=obj["data"]["restaurants"]
                    for(var res of ress){
                        this.restaurantList.push(res["restaurant"]["name"])
                    }
                 
       
      })
        },


    getCityList () {
        
       
        this.datas=[]
      axios.get(this.apiUrl+this.cityName,{headers:{"user-key":"27955066901f7a0c850fde574b52e2ba"}}).then( response => {
          var obj=response["data"]["location_suggestions"]
          
            this.obb=obj
                    this.data={}
                    for(var i of obj){
                       this.cities.push(i.name)
                       this.map[i.name]=i.id
                    }
       
      })
    }
  
    }
    
    
    
}
</script>


<style lang="stylus" scoped>



.searchBox{
    display: flex;
    height: 40px; 
    
}


</style>