<template>
    <div class="tt">hello thweew</div>
</template>

<script>
export default {
    name:'test'
}
</script>

<style lang="stylus" scoped>
 .tt{
     width :10rem;
     height :10rem;
     background-color :blue;
 }
</style>