<template>
  <div id="app">
    
    <div class="banner">
        
        <Header/>
        
        <LogoTag/>

        <SearchBar/>

        <Ofo/>
        <Col/>        

    </div>

  </div>
</template>

<script>
import Vue from 'vue'
import Buefy from 'buefy'
import 'buefy/dist/buefy.css'
import Header from './components/Header.vue'
import SearchBar from './components/SearchBar.vue'
import LogoTag from './components/LogoTag.vue'
import Ofo from './components/Ofo.vue'
import Col from './components/Col.vue'

Vue.use(Buefy)
export default {  
  name: 'App',
  data(){
  
      return{

          
      
      }
  },
  methods: {
    
  }
  ,
  components: {
        LogoTag,
        Header,
        SearchBar,
        Ofo,
        Col
        
      
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin:0px;
}

.banner{
    height: 36rem;
    width: auto;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-image:url("assets/back.jpg")
}




.input::placeholder{
    font-size: small;
    position: relative;;    
    bottom: 5px;
}



</style>
